<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Patisserie Park</h1>
    <p>Confectionery shop in Takatsu, Kawasaki</p>
    <p>Call us at: 044-813-6485</p>
    <p>Hours: 10am - 7pm Wednesday to Monday</p>
    <a href="https://www.google.com/maps/place/%E3%83%91%E3%83%86%E3%82%A3%E3%82%B9%E3%83%AA%E3%83%BC+%E3%83%91%E3%83%BC%E3%82%AF/@35.6038456,139.6059719,15z/data=!4m17!1m10!3m9!1s0x6018f53816dc0ceb:0x674d93e5a7f288e5!2z44OR44OG44Kj44K544Oq44O8IOODkeODvOOCrw!8m2!3d35.6038456!4d139.6147266!10e5!14m1!1BCgIgAQ!16s%2Fg%2F11hf8nwz3c!3m5!1s0x6018f53816dc0ceb:0x674d93e5a7f288e5!8m2!3d35.6038456!4d139.6147266!16s%2Fg%2F11hf8nwz3c?entry=ttu" target="_blank">Visit us <i class="fa-solid fa-map-location-dot"></i></a>
  </div>
</div>
