<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Patisserie Park</h1>
    <h3>Confectionery shop in Takatsu, Kawasaki</h3>
    <p>Call us at: 044-813-6485</p>
    <p>Hours: 10am - 7pm Wednesday to Monday</p>
  </div>
</div>
