<div class="row my-5">
  <div class="col-12">
    <div id="contact">
      <div class="justify-content-center flex-wrap">
        <div class="justify-content-center">
          <img class="image" src="./images/access.gif" alt="map to bakery" >
        </div>
        <div class="justify-content-center text-align-center">
          <p>Call us at: 044-813-6485</p>
          <p>Hours: 10am - 7pm Wednesday to Monday</p>
        </div>
      </div>
    </div>
  </div>
</div>
