<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <div class="main-card">
    <!-- dishes Section -->
    <%= partial 'partials/dishes' %>
    <!-- cafe Section -->
    <%= partial 'partials/cafe' %>
  </div>
  <!-- info Links Section -->
  <%= partial 'partials/info' %>
</div>
