<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <div class="page-div">
    <div class="main-card">
      <!-- dishes Section -->
      <%= partial 'partials/dishes' %>
      <!-- cafe Section -->
      <%= partial 'partials/cafe' %>
    </div>
  </div>
  <!-- info Links Section -->
  <%= partial 'partials/info' %>
</div>
