<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- cafe Section -->
  <%= partial 'partials/cafe' %>
  <!-- dishes Section -->
  <%= partial 'partials/dishes' %>
</div>
