  <!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="container ">
  <!-- cafe Section -->
  <%= partial 'partials/cafe' %>
  <!-- dishes Section -->
  <%= partial 'partials/dishes' %>
</div>
